.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
Package_Creation.qmd
Development.qmd
FMA6_Decapterus_macarellus_SPR_HCR.qmd
output
Decapterus macarellus_SPR.rda
Nephrops_my_ds_mcmc.rda
TCIConch04_stan.rda
Suriname_Seabob_JABBA_HCR.qmd
TCI_Conch_JABBAStan_HCR.qmd